.write {
  padding-top: 50px;
}
.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}
.writeForm {
  position: relative;
}
.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(60, 60, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}
.writeInput:focus {
  outline: none;
}
.writeText {
  font-size: 20px;
  height: 100vh;
}
.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.category-title {
  font-family: "Varela Round", sans-serif;
  color: rgb(60, 60, 60) !important;
}
.check-container {
  font-size: 30px;
  margin-left: 170px;
}
.checkbox {
  margin-left: 20px;
}
label {
  margin-left: 10px;
  color: rgb(60, 60, 60) !important;
  font-family: "Varela Round", sans-serif;
}
/* The Modal */
.modal {
  /* Hidden by default */
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  padding: 20px; /* Could be more or less, depending on screen size */
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
}
.modal-button {
  padding: 10px 15px;
  margin-top: 10px;
}
